<div style="margin: 20px;">
  <div style="display: flex;align-items: center;justify-content: space-between;">
    <input type="text" name="search" id="search" [(ngModel)]="search" (keyup)="onType()" (keydown)="onType()">
    <input type="text" name="count" id="count" [(ngModel)]="count" (keyup)="onType()" (keydown)="onType()">
  </div>
  <div style="margin-top: 20px;">
    <div [ngStyle]="{'background': item.same ? 'lightblue' : 'pink'}"
      style="border: 1px solid #ccc;border-radius: 6px;padding: 20px;margin-bottom: 10px;"
      *ngFor="let item of displayedValues">
      {{item.val}}
    </div>
  </div>
</div>